#root {
  margin: 0 auto;
  padding: 1rem;
  font-family: roboto;
}

body {
  background-color: rgb(246, 246, 247);
}

.main-layout {
  display: grid;
  grid-template-columns: 300px auto;
}

.main-content {
  border: 1px solid gainsboro;
  border-radius: 5px;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

ul {
  padding-inline-start: 5px;
}

@media (max-width: 1250px) {
  #root {
    padding: 0.5rem;
  }
  .main-layout {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
  }
}
